{% extends 'base.html' %}

{% block title %}Список пользоветелей | Test blog{% endblock %}

{% block content %}
  <center>
    <h2>Пользователи системы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID пользователя</th>
      <th>Имя</th>
      <th>Email</th>
    </tr>

    {% for u in users %}
      <tr>
        <td>{{u.id}}</td>
        <td><a href="{% url 'user_posts' u.id %}">{{u.name}}</a></td>
        <td>{{u.email}}</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
