{% extends 'base.html' %}

{% block title %}Посты пользователей | Test blog{% endblock %}

{% block content %}
  <center>
    {% if username %}
      <h2>Посты пользователя {{username}}</h2>
    {% else %}
      <h2>Посты всех пользователей</h2>
    {% endif %}
  </center>

  <hr>
  <br>
  <br>
  <div class="container">
    {% for post in posts %}
      <br>
      <div class= "row">
        <h3>{{post.title}}</h3>
        <h5>Автор: {{post.user.name}}</h5>
        <p>{{post.body}}</p>
        {% if user == post.user %}
          <a href="{% url 'delete_post' post.id %}">
            <button type="button" class="btn btn-danger btn-sm">Удалить пост</button>
          </a>
        {% endif %}
      </div>
      <hr/>
    {% endfor %}
  </div>
{% endblock %}
